



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (max-width: 640px) {
  .logo-home {
    width: 500px;
  }
  .typewriter-text {
    font-size: 1.5rem;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .logo-home {
    
  }
  .typewriter-text {
    font-size: 2rem;
  }
}

@media (min-width: 769px) {
  .logo-home {
    
  }
  .typewriter-text {
    font-size: 2.5rem;
  }
}
/* filepath: /e:/RCSLandings/landing_pages/src/styles/global.css */
.game-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

.game-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* filepath: /e:/RCSLandings/landing_pages/src/styles/global.css */
canvas {
  width: 100%;
  height: auto;
}

.gradual-blur {
  pointer-events: none;
}
.gradual-blur-parent {
  overflow: hidden;
}
.gradual-blur-inner {
  pointer-events: none;
}

.card {
 width: 1000px;
 margin: 0 auto;
 height: 300px;
 border-radius: 30px;
 background: #212121;
 box-shadow: 15px 15px 30px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);
}

.pricing-table {
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
  transition: transform 0.3s ease;
}

.pricing-table:hover {
    transform: scale(1.02);
}
